#parse("/_path.html")
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="$!{staticPath}/css/recentcomments.css" type="text/css" media="screen">
<link rel="stylesheet" href="$!{staticPath}/css/style.css" type="text/css" media="all">
<style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
</style>

<meta name="keywords" content="Java高新技术分享">
<meta name="description" content="关注最前沿的Java高新技术">
<meta property="og:type" content="website">
<meta property="og:title" content="xxzkid's blog">
<meta property="og:url" content="">
<meta property="og:site_name" content="xxzkid's blog">
<meta property="og:description" content="xxzkid $!{title}">
<meta name="twitter:title" content="xxzkid 软件工程师">
<meta name="twitter:description" content="xxzkid 软件工程师">
