<footer class="footer">
    <div class="footer-inner">
        <div class="copyright pull-left">
            <span title="xxzkid">© xxzkid 2013-$date.get("yyyy")</span>
        </div>
        <div class="trackcode pull-right">
        </div>
    </div>
</footer>
<div class="rollto"><button class="btn btn-inverse" data-type="totop" title="回顶部"><i class="fa fa-arrow-up"></i></button></div>
<!--[if lt IE 9]><script src="$!{staticPath}/js/html5.js"></script><![endif]-->
<script src="$!{staticPath}/js/emoji-release.min.js" type="text/javascript"></script>
<script type="text/javascript" src="$!{staticPath}/js/jquery.min.js"></script>
<script type="text/javascript" src="$!{staticPath}/js/event.js"></script>
<script type="text/javascript" src="$!{staticPath}/js/embed.min.js"></script>

