<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xxz.myblog.mapper.CategoryMapper">


    <sql id="base_column">
        id, name, alias_name, create_user, create_time, update_user, update_time
    </sql>

    <sql id="table_name">t_category</sql>

	<insert id="save" parameterType="org.xxz.myblog.entity.Category" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table_name" />(<include refid="base_column" />)
        values(#{id}, #{name}, #{aliasName}, #{createUser}, #{createTime}, #{updateUser}, #{updateTime})
    </insert>
    
    <delete id="delete">
        delete from <include refid="table_name" />
        where id = #{id}
    </delete>
    
    <update id="update">
        update <include refid="table_name" />
        set name = #{name},
        alias_name = #{aliasName},
        update_user = #{updateUser},
        update_time = #{updateTime}
        where id = #{id}
    </update>
    
    <select id="findById" resultType="org.xxz.myblog.entity.Category">
        select <include refid="base_column" /> from <include refid="table_name" />
        where id = #{id}
    </select>
    
    <select id="findAll" resultType="org.xxz.myblog.entity.Category">
        select <include refid="base_column" /> from <include refid="table_name" />
    </select>
    
    <select id="findByUserId" resultType="org.xxz.myblog.entity.Category">
        select <include refid="base_column" /> from <include refid="table_name" />
        where create_user = #{userId}
    </select>

</mapper>
